{% block footer %}
    <footer class="container-fluid text-center navbar navbar-expand-lg navbar-light bg-light">
        <div class="language-text col">
            Copyright CTCPA
        </div>
        <div class="language-text col">
            Mentions Légales
        </div>
    </footer>
{% endblock %}